<c-row class="h-100 align-items-center main-container">
    <c-col *ngIf="categories.length > 0" lg="8" class="h-100 d-flex flex-column">
        <c-card [cBorder]="{top: {color: 'info', width: 3}}" [textColor]="'black'" class="mb-3 flex-grow-1">
            <c-card-header class="card-header-title">مكتبات التغريدات</c-card-header>
            <c-card-body>
                <c-tabs [activeItemKey]="activeItem" (activeItemKeyChange)="onTabChange($event)">
                    <c-tabs-list variant="tabs">
                        <button *ngFor="let category of categories; let i = index" cTab [itemKey]="i" class="tab-button"
                            [matBadge]="getTweetCount(category.id) > 0 ? getTweetCount(category.id) : null"
                            matBadgeSize="large">

                            {{ category.category }}

                            <mat-icon *ngIf="activeItem === i" class="search-icon" (click)="onCategoryEdit(category)">
                                edit
                            </mat-icon>
                        </button>

                        <!-- Plus Icon for Adding New Category -->
                        <button class="tab-button add-category-btn" (click)="onAddCategory()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </c-tabs-list>


                    <c-tabs-content>
                        <c-tab-panel *ngFor="let category of categories; let i = index" class="p-3 preview"
                            [itemKey]="i" cRounded="bottom">

                            <div *ngIf="tweets.length > 0">

                                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable
                                    class="mb-0 border">
                                    <thead class="text-nowrap text-truncate">
                                        <tr>
                                            <th class="bg-body-tertiary text-center">
                                                <!-- <svg cIcon name="cilScreenSmartphone"></svg> -->
                                            </th>
                                            <th class="bg-body-tertiary">ت</th>
                                            <th class="bg-body-tertiary">التغريدة</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body" dir="rtl">
                                        <tr *ngFor="let tweet of paginatedTweets; let k = index"
                                            (click)="onRowClick(tweet, $event)">

                                            <td class="text-center" width="10%">
                                                <mat-checkbox [checked]="selectedTweet === tweet"
                                                    (click)="$event.stopPropagation()"
                                                    (change)="onCheckboxChange($event, tweet)">
                                                </mat-checkbox>
                                                <!-- <c-avatar [size]="'md'" src="{{ device.avatar }}" status="{{ device.status }}" /> -->
                                            </td>
                                            <td width="5%">
                                                <span>
                                                    {{ Helper.enToAr(k+1) }}
                                                </span>
                                            </td>
                                            <td>
                                                <div [ngClass]="{'warning-field': !tweet.tweet}">
                                                    {{ tweet.tweet || "-" }}
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Paginator -->
                                <app-paginator [data]="tweets"
                                    (paginatedData)="paginatedTweets = $event"></app-paginator>
                            </div>

                            <div *ngIf="tweets.length === 0" class="no-accounts-message">
                                <a class="router-link" (click)="onAddTweet()">
                                    ﻻ توجد تغريدات مسجلة
                                </a>
                            </div>
                        </c-tab-panel>
                    </c-tabs-content>
                </c-tabs>

            </c-card-body>
        </c-card>
    </c-col>
    <c-col lg="4" class="h-100 d-flex align-items-center justify-content-center">
        <div class="smartphone">
            <!-- Top Speaker -->
            <div class="top-speaker"></div>

            <!-- Camera Button -->
            <div class="camera"></div>

            <!-- Screen -->
            <div class="screen">
                <img class="logo" *ngIf="selectedStatus === 'category'" src="assets/categories.png" alt="X-logo">
                <img class="logo" *ngIf="selectedStatus !== 'category'" src="assets/tweet.png" alt="X-logo">
                <span class="title">{{titleLabel}}</span>
                <span class="title"
                    *ngIf="!selectedTweet && selectedStatus !== 'category' && tweets.length > 0">أو</span>
                <span class="title-link" *ngIf="!selectedTweet && selectedStatus !== 'category'"
                    (click)="onAddTweet()">أضِف
                    تغريدة جديدة <mat-icon class="add-icon">add</mat-icon></span>

                <div *ngIf="selectedTweet || selectedCategory" class="content">
                    <div *ngIf="selectedStatus == 'tweet'">
                        <form [formGroup]="tweetFormValidator">

                            <div class="item">
                                <span class="label">{{ categoryLabel }}</span>
                                <mat-form-field class="value input-field" *ngIf="categories.length > 0">
                                    <mat-select formControlName="category">
                                        <mat-select-trigger>
                                            {{ tweetFormValidator.get('category')?.value?.category || '' }}
                                        </mat-select-trigger>
                                        <mat-option *ngFor="let category of categories" [value]="category">
                                            <div class="account-option">
                                                <span class="account-name">{{ category.category }}</span>
                                            </div>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-error *ngIf="isInvalid('category', tweetFormValidator) && categories.length > 0">{{
                                    categoryError
                                    }}</mat-error>
                                <div *ngIf="categories.length === 0" class="no-accounts-message">
                                    <a class="router-link" (click)="onAddCategory()">
                                        ﻻ يوجد فئات مسجلة
                                    </a>
                                </div>
                            </div>
                            <div class="divider"></div>

                            <div class="item" *ngIf="categories.length > 0">
                                <span class="label">{{tweetLabel}}</span>
                                <mat-form-field class="value input-field full-width">
                                    <textarea matInput cdkTextareaAutosize #autosize formControlName="tweet"
                                        [ngClass]="{'invalid-input': isInvalid('tweet', tweetFormValidator), 'disabled-input': tweetFormValidator.get('tweet')?.disabled}"
                                        style="resize: none;"></textarea>
                                </mat-form-field>


                                <mat-error *ngIf="isInvalid('tweet', tweetFormValidator)">{{tweetError}}</mat-error>
                            </div>
                            <div class="divider"></div>
                        </form>
                    </div>

                    <div *ngIf="selectedStatus == 'category'">
                        <form [formGroup]="categoryFormValidator">

                            <div class="item">
                                <span class="label">{{categoryLabel}}</span>
                                <input formControlName="category" class="value input-field" type="text"
                                    [ngClass]="{'invalid-input': isInvalid('category', categoryFormValidator), 'disabled-input': categoryFormValidator.get('category')?.disabled}">
                                <mat-error
                                    *ngIf="isInvalid('category', categoryFormValidator)">{{categoryError}}</mat-error>
                            </div>
                            <div class="divider"></div>

                        </form>
                    </div>
                </div>


                <button class="action-btn" *ngIf="selectedTweet || selectedStatus === 'category'"
                    [disabled]="isSubmitDisabled()"
                    [ngClass]="{ 'enabled-btn': !isSubmitDisabled(), 'disabled-btn': isSubmitDisabled() }"
                    (click)="onSubmit()">
                    {{submitButton}}
                </button>


                <button class="action-btn delete-btn"
                    *ngIf="(selectedTweet || selectedCategory) && submitButton == 'تحديث'"
                    [disabled]="!isDeleteEnabled()"
                    [ngClass]="{ 'delete-enabled-btn': isDeleteEnabled(), 'disabled-btn': !isDeleteEnabled() }"
                    (click)="onDelete()">
                    {{deleteButton}}
                </button>


            </div>

            <!-- Home Button -->
            <div class="home-button"></div>
        </div>
    </c-col>
</c-row>