<div id="waveform" #waveform></div>

<div class="controls">
    <button class="btn" (click)="forward()">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 12L2 5v14l10-7zm10 0L12 5v14l10-7z" fill="black" />
        </svg>
    </button>
    <button class="btn" (click)="togglePlayPause()">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path [attr.d]="isPlay ? 'M6 4h4v16H6V4zM14 4h4v16h-4V4z' : 'M8 5v14l11-7z'" fill="black" />
        </svg>
    </button>
    <button class="btn" (click)="rewind()">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 12L22 19V5L12 12zm-10 0L12 19V5L2 12z" fill="black" />
        </svg>
    </button>
</div>