<app-dropfile acceptedTypes="video/*, audio/*"></app-dropfile>

<!-- <div class="card">
  <div class="card-header">
    <h4 class="card-title mb-0">الملفات المُضافة</h4>
  </div>

  <div class="card-body">
    <accordion
      [closeOthers]="true"
      class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-success"
      id="accordionBordered"
    >
      <accordion-group class="accordion-item" [isOpen]="isFirstOpen">
        <h2
          accordion-heading
          class="accordion-header"
          id="accordionborderedExample1"
        >
          <button class="accordion-button" type="button">
            What is User Interface Design?
          </button>
        </h2>
        <div
          id="accor_borderedExamplecollapse1"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua nulla assumenda shoreditch
            et.
          </div>
        </div>
      </accordion-group>
      <accordion-group class="accordion-item">
        <h2
          accordion-heading
          class="accordion-header"
          id="accordionborderedExample2"
        >
          <button class="accordion-button" type="button">
            What is Digital Marketing?
          </button>
        </h2>
        <div
          id="accor_borderedExamplecollapse2"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
            Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis
            magna. Sed consequat, leo eget bibendum sodales, augue velit cursus
            nunc, quis gravida magna mi a libero. Fusce vulputate eleifend
            sapien.
          </div>
        </div>
      </accordion-group>
      <accordion-group class="accordion-item">
        <h2
          accordion-heading
          class="accordion-header"
          id="accordionborderedExample3"
        >
          <button class="accordion-button" type="button">
            Where does it come from ?
          </button>
        </h2>
        <div
          id="accor_borderedExamplecollapse3"
          class="accordion-collapse collapse show"
        >
          <div class="accordion-body">
            Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et
            arcu arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis
            aliquam ultrices mauris.
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div> -->
