<c-row class="h-100 align-items-center main-container">
    <c-col *ngIf="connectedDevices.length > 0 || devices.length > 0" lg="8" class="h-100 d-flex flex-column">
        <c-card *ngIf="connectedDevices.length > 0" [cBorder]="{top: {color: 'danger', width: 3}}" [textColor]="'black'"
            class="mb-3 flex-grow-1">
            <c-card-header class="card-header-title">الأجهزة غير المسجلة</c-card-header>
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <th class="bg-body-tertiary text-center">
                                <!-- <svg cIcon name="cilScreenSmartphone"></svg> -->
                            </th>
                            <th class="bg-body-tertiary">ت</th>
                            <th class="bg-body-tertiary">اسم الهاتف</th>
                            <th class="bg-body-tertiary">رقم الهاتف</th>
                            <th class="bg-body-tertiary">رمز فتح القفل</th>
                            <th class="bg-body-tertiary">الحسابات المرتبطة بالهاتف</th>
                        </tr>
                    </thead>
                    <tbody class="table-body" dir="rtl">
                        <tr *ngFor="let device of paginatedConnectedDevices; let i = index"
                            (click)="onRowClick(device, 'connectedDevices', $event)">

                            <td class="text-center">
                                <mat-checkbox [checked]="selectedDevice === device" (click)="$event.stopPropagation()"
                                    (change)="onCheckboxChange($event, 'connectedDevices', device)">
                                </mat-checkbox>
                                <!-- <c-avatar [size]="'md'" src="{{ device.avatar }}" status="{{ device.status }}" /> -->
                            </td>
                            <td>
                                <span>
                                    {{ Helper.enToAr(i+1) }}
                                </span>
                            </td>
                            <td>
                                <div [ngClass]="{'warning-field': !device.name}">
                                    {{ device.name || "-" }}
                                </div>
                                <div class="small text-body-secondary text-nowrap">
                                    <span>
                                        {{ device.serial }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div [ngClass]="{'warning-field': device.phone == -1}">
                                    {{ device.phone == -1 ? "-" : device.phone }}
                                </div>
                                <!-- <div class="d-flex justify-content-between text-nowrap">
                                    <div class="float-start">
                                        <strong>{{ device.usage }}%</strong>
                                    </div>
                                    <div class="float-end ms-1">
                                        <small class="text-body-secondary">
                                            {{ device.period }}
                                        </small>
                                    </div>
                                </div>
                                <c-progress thin [value]="device.usage" color="{{ device.color }}" aria-label="Usage" /> -->
                            </td>
                            <td>
                                <div [ngClass]="{'warning-field': device.pin == ''}">
                                    {{ device.pin == '' ? "-" : device.pin }}
                                </div>
                                <!-- <svg cIcon name="cibCc{{ device.payment }}" size="xl"></svg> -->
                            </td>
                            <td>
                                <div [ngClass]="{'warning-field': device.accounts.length == 0}">
                                    {{ device.accounts.length == 0 ? "-" : device.accounts }}
                                </div>
                                <!-- <div class="small text-body-secondary">Last login</div>
                                <div class="fw-semibold text-nowrap">{{ device.activity }}</div> -->
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Paginator -->
                <app-paginator [data]="connectedDevices"
                    (paginatedData)="paginatedConnectedDevices = $event"></app-paginator>
            </c-card-body>
        </c-card>
        <c-card *ngIf="devices.length > 0" [cBorder]="{top: {color: 'info', width: 3}}" [textColor]="'black'"
            class="mb-3 flex-grow-1">
            <c-card-header class="card-header-title">جميع الأجهزة</c-card-header>
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <th class="bg-body-tertiary text-center">
                                <!-- <svg cIcon name="cilScreenSmartphone"></svg> -->
                            </th>
                            <th class="bg-body-tertiary">ت</th>
                            <th class="bg-body-tertiary">اسم الهاتف</th>
                            <th class="bg-body-tertiary">رقم الهاتف</th>
                            <th class="bg-body-tertiary">رمز فتح القفل</th>
                            <th class="bg-body-tertiary">الحسابات المرتبطة بالهاتف</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr *ngFor="let device of paginatedDevices; let i = index"
                            [ngClass]="{'disconnected-device': !device.isConnected}"
                            (click)="onRowClick(device, 'devices', $event)">

                            <td class="text-center">
                                <mat-checkbox [checked]="selectedDevice === device" (click)="$event.stopPropagation()"
                                    (change)="onCheckboxChange($event, 'devices', device)">
                                </mat-checkbox>
                                <!-- <c-avatar [size]="'md'" src="{{ device.avatar }}" status="{{ device.status }}" /> -->
                            </td>
                            <td>
                                <span>
                                    {{ Helper.enToAr(i+1) }}
                                </span>
                            </td>
                            <td>
                                <div class="device-name-container">
                                    <div class="device-icon-wrapper">
                                        <mat-icon class="device-icon">smartphone</mat-icon>
                                        <span class="status-dot" [ngClass]="getStatusClass(device)"></span>
                                    </div>
                                    <div>
                                        <div [ngClass]="{'warning-field': !device.name}">
                                            {{ device.name || "-" }}
                                        </div>
                                        <div class="small text-body-secondary text-nowrap">
                                            <span>
                                                {{ device.serial }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div [ngClass]="{'warning-field': device.phone == -1}">
                                    {{ device.phone == -1 ? "-" : device.phone }}
                                </div>
                                <!-- <div class="d-flex justify-content-between text-nowrap">
                                    <div class="float-start">
                                        <strong>{{ device.usage }}%</strong>
                                    </div>
                                    <div class="float-end ms-1">
                                        <small class="text-body-secondary">
                                            {{ device.period }}
                                        </small>
                                    </div>
                                </div>
                                <c-progress thin [value]="device.usage" color="{{ device.color }}" aria-label="Usage" /> -->
                            </td>
                            <td (mouseenter)="togglePinHover(device.id, true)"
                                (mouseleave)="togglePinHover(device.id, false)" class="pin-container">

                                <span *ngIf="!pinHoverState[device.id]" class="masked-pin">••••••</span>
                                <span *ngIf="pinHoverState[device.id]" class="visible-pin">{{ device.pin || '-'
                                    }}</span>
                            </td>

                            <td>
                                <mat-chip-set *ngIf="device.accounts.length > 0" class="accounts-chip-list">
                                    <mat-chip *ngFor="let account of getAccountDetails(device.accounts)"
                                        class="account-chip" (mouseenter)="toggleAccountView(account, true)"
                                        (mouseleave)="toggleAccountView(account, false)">
                                        <mat-icon *ngIf="account?.showFullName" matChipAvatar>person</mat-icon>
                                        <img *ngIf="!account?.showFullName" matChipAvatar [src]="'assets/x-logo.png'"
                                            alt="X Logo" class="chip-avatar" />
                                        {{ account.showFullName ? account.name : account.username + "@" }}
                                    </mat-chip>
                                </mat-chip-set>
                                <span *ngIf="device.accounts.length === 0" class="warning-field">-</span>
                            </td>

                        </tr>
                    </tbody>
                </table>

                <!-- Paginator -->
                <app-paginator [data]="devices" (paginatedData)="paginatedDevices = $event"></app-paginator>
            </c-card-body>
        </c-card>
    </c-col>
    <c-col lg="4" class="h-100 d-flex align-items-center justify-content-center">
        <div class="smartphone">
            <!-- Top Speaker -->
            <div class="top-speaker"></div>

            <!-- Camera Button -->
            <div class="camera"></div>

            <!-- Screen -->
            <div class="screen">
                <img class="logo" src="assets/settings.png" alt="Settings">
                <span class="title">{{titleLabel}}</span>

                <div *ngIf="selectedDevice" class="content">
                    <form [formGroup]="formValidator">
                        <div class="item">
                            <span class="label">{{serialLabel}}</span>
                            <input formControlName="serial" class="value input-field" type="text"
                                [ngClass]="{'invalid-input': isInvalid('serial'), 'disabled-input': formValidator.get('serial')?.disabled}">
                            <mat-error *ngIf="isInvalid('serial')">{{serialError}}</mat-error>
                        </div>
                        <div class="divider"></div>

                        <div class="item">
                            <span class="label">{{nameLabel}}</span>
                            <input formControlName="name" class="value input-field" type="text"
                                [ngClass]="{'invalid-input': isInvalid('name')}">
                            <mat-error *ngIf="isInvalid('name')">{{nameError}}</mat-error>
                        </div>
                        <div class="divider"></div>

                        <div class="item">
                            <span class="label">{{phoneLabel}}</span>
                            <input formControlName="phone" class="value input-field" type="number"
                                [ngClass]="{'invalid-input': isInvalid('phone')}" maxlength="8"
                                (input)="restrictPhoneLength($event)">
                            <mat-error *ngIf="isInvalid('phone')">{{phoneError}}</mat-error>
                        </div>
                        <div class="divider"></div>

                        <div class="item">
                            <span class="label">{{pinLabel}}</span>
                            <div class="pin-input-container">
                                <mat-icon class="visibility-icon"
                                    (click)="pinInput.type = pinInput.type === 'password' ? 'text' : 'password'">
                                    {{ pinInput.type === 'password' ? 'visibility' : 'visibility_off' }}
                                </mat-icon>
                                <input #pinInput formControlName="pin" class="value input-field" type="password"
                                    [attr.type]="pinInput.type === 'password' ? 'password' : 'text'"
                                    [ngClass]="{'invalid-input': isInvalid('pin')}">
                            </div>
                            <mat-error *ngIf="isInvalid('pin')">{{pinError}}</mat-error>
                        </div>
                        <div class="divider"></div>

                        <div class="item">
                            <span class="label">{{ accountsLabel }}</span>
                            <mat-form-field class="value input-field" *ngIf="accounts.length > 0">
                                <mat-select formControlName="accounts" multiple>
                                    <mat-select-trigger>
                                        {{ formValidator.get('accounts')?.value?.[0]?.name || '' }}
                                        <span *ngIf="(formValidator.get('accounts')?.value?.length || 0) > 1"
                                            class="example-additional-selection">
                                            (+{{ (formValidator.get('accounts')?.value?.length || 0) - 1 }}
                                            {{ formValidator.get('accounts')?.value?.length === 2 ? 'آخر' : 'آخرين' }})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let account of accounts" [value]="account">
                                        <div class="account-option">
                                            <span class="account-name">{{ account.name }}</span>
                                            <span class="account-username">{{ account.username + "@" }}</span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error *ngIf="isInvalid('accounts') && accounts.length > 0">{{ accountsError
                                }}</mat-error>
                            <div *ngIf="accounts.length === 0" class="no-accounts-message">
                                <a [routerLink]="['/accounts']">
                                    ﻻ يوجد حسابات مسجلة
                                </a>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </form>
                </div>

                <button class="action-btn" *ngIf="selectedDevice" [disabled]="isSubmitDisabled()"
                    [ngClass]="{ 'enabled-btn': !isSubmitDisabled(), 'disabled-btn': isSubmitDisabled() }"
                    (click)="onSubmit()">
                    {{submitButton}}
                </button>


                <button class="action-btn delete-btn" *ngIf="selectedDevice && submitButton == 'تحديث'"
                    [disabled]="!isDelete" [ngClass]="{ 'delete-enabled-btn': isDelete, 'disabled-btn': !isDelete }"
                    (click)="onDelete()">{{deleteButton}}</button>
            </div>

            <!-- Home Button -->
            <div class="home-button"></div>
        </div>
    </c-col>
</c-row>